:root {
    --title-color: #322153;
    --background-html-color: #f0f0f5;
    --primary-color: #34cb79;
    --primary-color-hover: #2fb86e;
}


* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    background: var(--background-html-color);
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}